<div class="header">
  <wdb-login></wdb-login>
</div>
<div class="page">
<div class="content">
  <img src="assets/logo-login.png" alt="bigLogo">
  <h1>Bienvenue sur WildBook </h1>
  <p>
   WildBook est le réseau social officiel de la Wild Code School.<br>
   Suis l'actualité de tous les campus à chaque instant  <br>
   Partage tes réussites, tes projets , tes opinions <br>
   Mais surtout profite du Wild Réseau !
  </p>
</div>
<div class="vertical-divider"></div>
<div class="signup">
  <wdb-signup> </wdb-signup>
</div>
</div>
