<div class="page">
  <div class="menu">
    <wdb-side-menu></wdb-side-menu>
  </div>
  <div class="center">
    <wdb-profil-info [me]="me" [followList]="followList"
    [isfollowing]="follow" [user]="user" *ngIf="user && !showPost"></wdb-profil-info>
    <wdb-post [posts]="posts "[user]="user" *ngIf="posts && user && showPost"></wdb-post>
    <wdb-feed [user]="user"[posts]="posts" *ngIf="posts && user"></wdb-feed>
  </div>
  <div class="search">
    <wdb-searchbar></wdb-searchbar>
  </div>

</div>
