<div class="feed">
  <div class="post" *ngFor="let post of posts" class="post">
    <div class="left">
        <img src="https://www.dropbox.com/s/7zlj89m72yw28d1/3.jpg?raw=1">
    </div>
    <div class="right">
      <div class="postinfo">
        <span class="username">Jean Michel </span>
        <span class="date" >Publié le 27/07/2020</span>
      </div>

      <p>
        we had such a great time with our volunteers at last year's OnBrand Event!
        we had such a great time with our volunteers at last year's OnBrand Event!
        we had such a great time with our volunteers at last year's OnBrand Event!
        we had such a great time with our volunteers at last year's OnBrand Event!
      </p>
      </div>
    </div>

</div>
