.container{
  margin-top: 50px;
  margin-bottom: 50px;
  width: 80%;
  margin-left: 25%;
  margin-right: auto;
  display: flex;
  align-items: center;
  position: relative;
}
img{
  height: 130px;
  width: 130px;
  border-radius: 50%;
  margin-right: 15px;
  border: solid 0.2px black;
}
h1 {
  margin-left:10%;
  font-size:35px;
  color:#ec7474;
}
button {
background-color: #ec7474;
color: white;
margin-top: 13%;
margin-left: 13%;
width:120px;
}
